# SPDX-FileCopyrightText: 2026 THALES CLOUD SECURISE SAS
#
# SPDX-License-Identifier: MIT

# All files in this directory are generated at build time by the Nix patchPhase.
# Do not commit them.
/*
/.*
!/.gitignore
